.rodape_ {
  background-color: #6278F7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 64px;
}

.rodape_ section img {
  display: inline-block;
  margin: 32px 32px 0px 0px;
}

.rodape_ section p {
  color: white
}